extends layout

block content
  #wrapper(class=expandClass)
    ul#rollcall
      each country in rollcallCountries
        li.country-card(id=country.get('code'))
          img.country-flag(src='/images/' + country.get('name').replace(/ /g, '_').replace(/\'/g, '') + '.png')
          h1.country-name= country.get('name')
          #rollcall-action
            i.btn.fa.fa-thumbs-down.right-border-button(data=country.get('code'))
            i.btn.fa.fa-thumbs-up(data=country.get('code'), attendance=true)
