extends layout

block content
  #wrapper(class='fullWidth')
    #stats-table(style='width: ' + Math.min(80, 20 * (numberSessions + 1)) + '%')
      h2 Total Countries: #{totalCountries}
      table
        thead
          th(style='width: ' + (100 / (numberSessions + 2)) + '%') Delegate
          - for (var i = 1; i <= numberSessions ; i++) {
            th(style='width: ' + (100 / (numberSessions + 2)) + '%') Session #{i}
          - }
          th(style='width: ' + (100 / (numberSessions + 2)) + '%') Attendance (%)
        tbody
          each country in logs
            tr
              if country.get('code').indexOf('NGO') <= -1
                td= country.get('name')
                if country.get('attendance')
                  each session in country.get('attendance')
                    td(class=session.record)
                      if session.record == 'A'
                        i.fa.fa-times
                      else
                        i.fa.fa-check
                  - for (var i = 0; i < numberSessions - country.get('attendance').length; i++) {
                    td NA
                  - }
                  if country.get('attendancePerc')
                    td= (country.get('attendancePerc') * 100).toFixed(2) + '%'
                  else
                    td NA
      table
        thead
          th(style='width: 50%') Delegate
          th(style='width: 50%') Number of Motions Passed
        tbody
          each numberMotions, delegate in motions
            tr
              td= delegate
              td= numberMotions
